* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Onest", sans-serif;
}
//!!
$bgcolor: #000000;
$whiteColor: #fff;
$textColor: #904bff;
// body{
//   display: flex;
//   flex-direction: column;;
// }
header {
  width: 100%;
  max-width: 1600px;
  background-color: $bgcolor;
  background-image: url(../images/headerBGI.png);
}
.container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;
}
.headerTop {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin-bottom: 85px;
  .topLogo {
    display: flex;
    gap: 156px;
    justify-content: center;
    align-items: center;
    .img {
      width: 100%;
      max-width: 254px;
    }
    p {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      font-size: 25px;
      line-height: 24.75px;
      letter-spacing: -0.03em;
      color: $whiteColor;
    }
  }
  .navbarItmes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;
    nav ul {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $whiteColor;
      gap: 30px;
      li a {
        color: $whiteColor;
        font-size: 21px;
        line-height: 24.75px;
        letter-spacing: -0.03em;
        font-weight: 350;
        cursor: pointer;
        &:hover {
          color: $textColor;
          transition: all 0.5s;
        }
      }
    }
    .fa-bars {
      display: none;
      color: $whiteColor;
      font-size: 21px;
      &:hover {
        color: #8441f1;
        transition: all 0.5s;
      }
    }
    .topBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      padding: 8px 10px;
      background-color: #5f29b7;
      color: $whiteColor;
      border-radius: 42px;
      border: none;
      font-weight: 350;
      &:hover {
        cursor: pointer;
        background-color: #8441f1;
        transition: all 0.5s;
      }
      a {
        font-size: 21px;
        line-height: 25px;
        letter-spacing: -0.03em;
        color: $whiteColor;
      }
      .fa-arrow-right-long {
        font-size: 20px;
        color: #b689ff;
        &:hover {
          color: $whiteColor;
          transition: all 0.5s;
        }
      }
    }
  }
}
.headerMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  color: $whiteColor;
  h1 {
    width: 100%;
    max-width: 765px;
    font-size: 102.2px;
    font-weight: 400;
    line-height: 97.09px;
    letter-spacing: -0.02em;
    margin-bottom: 17px;
    background: linear-gradient(251.46deg, #ffffff 13.67%, #5f29b7 124.09%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .headerBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 14px;
    background-color: #5f29b7;
    color: $whiteColor;
    border-radius: 42px;
    border: none;
    font-weight: 350;
    margin-bottom: 120px;
    &:hover {
      cursor: pointer;
      background-color: #8441f1;
      transition: all 0.5s;
    }
    p {
      font-size: 23px;
      line-height: 26.04px;
      letter-spacing: -0.03em;
      color: $whiteColor;
      padding-left: 40px;
    }
    img {
      width: 100%;
      max-width: 50.58px;
    }
  }
  h3 {
    width: 100%;
    max-width: 397px;
    font-size: 30px;
    line-height: 33.9px;
    letter-spacing: -0.04em;
    margin-bottom: 27px;
  }
}
.headerBottom {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
  align-items: center;
  padding: 10px;
  .companyName {
    height: 100px;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #0e0915;
    border-radius: 30px;
  }
}
main {
  width: 100%;
  max-width: 1600px;
  background-color: $bgcolor;
  .playSection {
    position: relative;
    width: 100%;
    height: 960px;
    display: flex;
    justify-content: center;
    align-items: start;
    h1 {
      width: 100%;
      max-width: 1000px;
      font-size: 70px;
      line-height: 79.1px;
      text-align: center;
      margin-top: 73px;
      background: linear-gradient(95.62deg, #ffffff 6.35%, #5f29b7 115.75%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      z-index: 10;
    }
    .fourImg {
      position: absolute;
      top: 230px;
      right: 40px;
      z-index: 1;
    }
    .tablet {
      position: absolute;
      top: 230px;
      right: 80px;
      z-index: 2;
    }
    .phone {
      position: absolute;
      top: 280px;
      left: 250px;
      z-index: 3;
    }
  }
  .numberSection {
    width: 100%;
    height: 1162px;
    background-image: url(../images/numbers.png);
    .numberTitle {
      display: flex;
      justify-content: space-between;
      text-align: center;
      align-items: center;
      border: 1px solid $whiteColor;
      border-bottom: none;
      border-right: none;
      border-radius: 25px;
      color: $whiteColor;
      margin-top: 3px;
      h5 {
        font-size: 60px;
      }
      h6 {
        font-size: 15px;
      }
    }
    p {
      font-size: 220px;
      color: $whiteColor;
      margin-top: 72px;
      margin-left: 40px;
    }
    h5 {
      font-size: 40px;
      color: $whiteColor;
      margin-left: 40px;
      margin-top: 21px;
    }
  }
  .benefitSection {
    height: 800px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 90px;
    background-color: $bgcolor;
  }
  .numberTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $whiteColor;
    border-bottom: none;
    border-right: none;
    border-radius: 25px;
    color: $whiteColor;
    margin-top: 3px;
    padding: 10px;
    h5 {
      font-size: 60px;
      line-height: 55.8px;
    }
    h6 {
      font-size: 15px;
      line-height: 15.45px;
    }
  }
  .benefitCard {
  
    img {
      position: absolute;
      max-width: 1080px;
      right: 500px;
      z-index: 1;
    }
    .benefit {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      z-index: 2;
      color: $whiteColor;
      left: 800px;
      top: 250px;
      h1 {
        max-width: 600px;
        font-size: 130px;
        font-weight: 200;
         background: linear-gradient(96.63deg, #FFFFFF 5.78%, #5F29B7 72.85%);
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
      }
      .benefitText{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 90px;
        h5{
          width: 100%;
          max-width: 200px;
          font-size: 40px;
          font-weight: 200;
        }
        p{
          width: 100%;
          max-width: 356px;
          font-size: 18px;
          font-weight: 150;
        }
      }
    }
  }
}
